<h1>Nouvelle inscription</h1>
<p><strong><%= @attendee.first_name %> <%= @attendee.last_name %></strong> vient de rejoindre
l’événement <em><%= @event.title %></em> prévu le <%= l(@event.start_date, format: :long) %>.</p>
